h1 {
  border: 5px dotted blue;
  text-align:center;
  color: red;
}

ul{
  color: blue;
}

li {
  font-family: arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

#top {
  font-size: 20px
}


.name {
    font-weight: bold;
}
